{% extends 'padre.html'%}
{%load static%}
{%block titulo%}
Distopia
{%endblock%}
{%block subtitulo%}
Genero de novelas distopicas
{%endblock%}
{%block contenido%}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="" method="POST">{% csrf_token %}
            <div class="form-group">
                <table>
                    {{ form.as_table }}
                </table>
            </div>
            <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
        <form action="" method="get">
            <div class="form-group">
                <input type="text" name="buscador" id="buscador" placeholder="Buscador">
                <button type="submit" class="btn btn-dark">Buscar</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% for libro in libros %}
    <p><b>Titulo:</b> {{libro.titulo}}</p>
    <p><b>Autor:</b> {{libro.autor}}</p>
    <p><b>Sinopsis:</b> {{libro.sinopsis}}</p>
    <img class="img-fluid rounded mx-auto d-block" src="{{libro.url_portada}}" alt="{{libro.titulo}}" width="400" height="600">
{%endfor%}
{%endblock%}